Server Response for Duplicated Critical Option

Sorry to bother.
### Problem Description:
According to RFC 7252 section 5.4.1, any unrecognized options of class "Critical" that occur in a Confirmable request MUST result in a 4.02 (Bad Option) response from the server. Furthermore, section 5.4.5 explicitly states that options that are not repeatable MUST NOT appear more than once in a message. If they do, any additional occurrences MUST be treated as unrecognized options, triggering the same `4.02 (Bad Option)` response.

However, when a request containing duplicated critical options (e.g., two Accept options) is sent to the server, the server responds with 2.05 (Content) instead of returning the expected 4.02 (Bad Option) error.

### Reproduce Packet:
```
CON GET /regular (two Accept options):
4401e34fc854dea8b7726567756c617261000132
```
It would be helpful if you could clarify whether this is a bug or intended behavior. Thank you for your time and assistance.