Missing Max-Age Header in CoAP GET Response

### Problem Description:
According to RFC 7252 section10.1.1, it is specified that: `The response MUST indicate a Max-Age value that is no greater than the remaining time the representation can be considered fresh.`
However, when a request is made with GET request, the server response does not include a Max-Age value.

### Reproduce Packet:
```
CON GET /regular
440171be58e17734b7726567756c6172
```
It would be helpful if you could clarify whether this is a bug or intended behavior. Thank you for your time and assistance.