Server Response for Proxying Not Supported

### Problem Description:
According to RFC 7252 §5.7
 `When a proxy request is made to an endpoint and the endpoint is unwilling or unable to act as proxy for the request URI, it MUST return a 5.05 (Proxying Not Supported) response.`
However, when a CoAP request containing a Proxy-Uri is sent to the server, it responds with 2.05 Content and an empty payload of application/octet-stream, rather than the required 5.05 Proxying Not Supported
### Reproduce Packet:
CON GET coap://test.com/resource (Proxy-Uri: coap://test.com/resource)
`440173696cd7b259dd160e636f61703a2f2f6578616d706c652e636f6d2f7265736f75726365`

Would appreciate it if you could confirm whether this is a bug or intended behavior. Thanks!